<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="https://news.sky.com/resources/sky-news-logo.png?v=1?bypass-service-worker" width="120" height="35" class="d-inline-block align-top" alt="">
    Sky News</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" *ngIf="service.loggedIn">
        <a class="nav-link" [routerLink]="['/article']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="service.loggedIn">
        <a class="nav-link" [routerLink]="['/fav']" >My Favourites</a>
      </li>
      <li class="nav-item" *ngIf="service.isAdmin">
        <a class="nav-link"  [routerLink]="['/admin']" >Block Analyst</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout();" *ngIf="service.loggedIn">Logout</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/login']"*ngIf="!service.loggedIn">Login</button>
  </div>
</nav>
