<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 col-lg-3 col-sm-12"></div>
    <div class=" col-lg-6 col-sm-12">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Login</h4>
        </header>
        <div class="card-body">

          <form [formGroup]="login">
            <div class="form-row">
              <div *ngIf="error" class="col form-group alert alert-danger" role="alert">
                System Error. Please contact admin or try again Later .
              </div>
              <div *ngIf="isBlocked" class="col form-group alert alert-danger" role="alert">
                Your Account has been blocked. Please contact the adminstrator.
              </div>
              <div *ngIf="incorrectLogin" class="col form-group alert alert-danger" role="alert">
                Invalid Email Id or Password.
              </div>

            </div>
            <!-- form-row end.// -->
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" id="loginemail" class="form-control" placeholder="" formControlName="email">
            </div> <!-- form-group end.// -->


            <div class="form-group">
              <label>Password</label>
              <input class="form-control" type="password" id="loginpassword" formControlName="password">
            </div> <!-- form-group end.// -->
            <div class="form-group">
              <button type="submit" (click)="Login();" class="btn btn-primary btn-block signup-btn float-right">Login</button>
            </div> <!-- form-group// -->

          </form>
          <br>
          <br> <br>
          <div class="form-group">
            <label class="text-center">Don't have an Account? Sign Up for Free</label>&nbsp; &nbsp;
            <button type="button" (click)="getLanguages();" class="btn btn-primary signup-btn" data-toggle="modal"
              data-target="#signupmodal">
              Sign Up </button>
          </div>
        </div> <!-- card-body end .// -->

      </div> <!-- card.// -->
    </div> <!-- col.//-->
    <div class="col-md-3 col-lg-3 col-sm-12"></div>
  </div> <!-- row.//-->


</div>
<!--container end.//-->

<br><br>
<!-- Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sing Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="signup">
          <div class="form-row">
            <div *ngIf="signedUp" class="col form-group alert alert-success" role="alert">
              User Signup Successfull
            </div>
            <div *ngIf="emailExists" class="col form-group alert alert-danger" role="alert">
              Email already exist.
            </div>
            <div *ngIf="error" class="col form-group alert alert-danger" role="alert">
              User Signup not Successfull.
            </div>

          </div>
          <div class="form-row">
            <div class="col form-group">
              <label>Name </label>
              <input type="text" class="form-control" id="signupname" placeholder="" formControlName="name">
            </div> <!-- form-group end.// -->
            <div *ngFor="let validation  of sign_up_form_validators.name">
              <label class=" form-control alert  alert-danger validation" *ngIf="signup.get('name').hasError(validation.type) && (signup.get('name').dirty || signup.get('name').touched)">{{validation.message}}</label>
            </div>

          </div> <!-- form-row end.// -->
          <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" id="signupemail" placeholder="" formControlName="email">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div> <!-- form-group end.// -->
          <div *ngFor="let validation  of sign_up_form_validators.email">
            <label class=" form-control alert  alert-danger validation" *ngIf="signup.get('email').hasError(validation.type) && (signup.get('email').dirty || signup.get('email').touched)">{{validation.message}}</label>
          </div>

          <div class="form-group">
            <label>Create password</label>
            <input class="form-control" type="password" id="signuppassword" formControlName="password">
          </div>
          <div *ngFor="let validation  of sign_up_form_validators.password">
            <label class=" form-control alert  alert-danger validation" *ngIf="signup.get('password').hasError(validation.type) && (signup.get('password').dirty || signup.get('password').touched)">{{validation.message}}</label>
          </div>
          <div class="form-group">
            <label>Select Language</label>
            <select class="form-control" id="signuplanguage" formControlName="language">
              <option value="" selected>Please Select a language</option>
              <option *ngFor="let language of languageList" [value]="language.id">{{language.description}}</option>
            </select>
          </div> <!-- form-group end.// -->
          <div *ngFor="let validation  of sign_up_form_validators.language">
            <label class=" form-control alert  alert-danger validation" *ngIf="signup.get('language').hasError(validation.type) && (signup.get('language').dirty || signup.get('language').touched)">{{validation.message}}</label>
          </div>
          <div class="form-group">
            <button type="submit" (click)="Signup();" [disabled]="!signup.valid" class="btn btn-success btn-block">
              Sign Up </button>
          </div> <!-- form-group// -->

        </form>
      </div>
    </div>
  </div>
</div>
