<div class="container">

  <div class="mt-3 col-display">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter some keyword to search" aria-label="Search"
      #search>
    <button class="btn btn-outline-success my-2 my-sm-0 search" type="submit" (click)="SearchNews(search.value);">Search</button>
  </div>
  <!-- Headlines mode By default--> 
  <div *ngIf="mode == 'headlines'">
    <span class="text-center">
      <h2 class="text-center">Top Headlines</h2>
      <p class="text-center mt-3 border-bottom border-dark"> </p>
    </span>
    <div class="card-deck mt-4">
      <span class="col-lg-4 col-sm-12 col-md-6 mb-3 col-display" *ngFor="let article of articlesResult; let index = index;">
        <div class="card">
          <img class="card-img-top" src="{{article.urlToImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">{{article.title}}</h6>
            <p class="card-text description">{{article.description}}</p>
            <a href="{{article.url}}" class="card-text description">Read more</a>
          </div>
          <div class="card-footer">
            <small class="text-muted"><i class="far fa-calendar-alt "> </i> {{article.publishedAt | date}}</small>
            &nbsp;<small class="text-muted" *ngIf="article.author!=null"> <i class="fas fa-user"> </i> {{article.author | titlecase}} </small>
            
            <span class="float-right"><i class="{{markedFavouriteStatus(index)}}" (click)="addmarkFavourite(article,index);" id="favbutton"></i></span>
          </div>
        </div>
      </span>
    </div>
  </div>
  <!-- End of Default Headlines -->
  <div *ngIf="mode == 'search'">
      <span class="text-center">
        <h2 class="text-center" id="articleSearch">Search Result for "{{searchedKeyWord}}"</h2>
        <p class="text-center mt-3 border-bottom border-dark"> </p>
      </span>
      <div class="card-deck mt-4">
        <span class="col-lg-4 col-sm-12 col-md-6 mb-3 col-display" *ngFor="let article of searchArticlesResult; let index = index;" id="searchArticlesList">
          <div class="card">
            <img class="card-img-top" src="{{article.urlToImage}}"  alt="...">
            <div class="card-body">
              <h6 class="card-title">{{article.title}}</h6>
              <p class="card-text description">{{article.description}}</p>
              <a href="{{article.url}}" class="card-text description">Read more</a>
            </div>
            <div class="card-footer">
              <small class="text-muted"><i class="far fa-calendar-alt "> </i> {{article.publishedAt | date}}</small>
              <span class="float-right"><i class="{{searchmarkedFavouriteStatus(index)}}" (click)="addmarkFavourite(article,index);"></i></span>
            </div>
          </div>
        </span>
      </div>
    </div>
</div>
